@model TestWebApp.Models.ViewModels.TestViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("NewUser", "Home", FormMethod.Post))
            {
                @Html.LabelFor(m => m.NewUserName)
                <span>&nbsp;</span>
                @Html.TextBoxFor(m => m.NewUserName)
                <input type="submit" class="btn btn-primary" value="Submit" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            <strong>User Id</strong>
                        </th>
                        <th>
                            <strong>
                                User Name
                            </strong>
                        </th>
                        <th>
                            <strong>Date Modified</strong>
                        </th>
                        <th>
                            <strong>IsActive</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.ListOfUsers)
                    {
                        <tr>
                            <td>
                                @user.Id
                            </td>
                            <td>
                                @user.Name
                            </td>
                            <td>
                                @user.DateModified
                            </td>
                            <td>
                                @user.IsActive
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>