@model TestWebApp.Models.ViewModels.TestViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("NewUser", "Home", FormMethod.Post))
            {
                @Html.LabelFor(m => m.NewUserName)
                <span>&nbsp;</span>
                @Html.TextBoxFor(m => m.NewUserName, new { Id = "TextBox" })
                <input type="submit" class="btn btn-primary" value="Submit" />
                <button id="ajaxButton" type="button" class="btn btn-danger">Ajax Submit</button>
            }
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            <strong>User Id</strong>
                        </th>
                        <th>
                            <strong>
                                User Name
                            </strong>
                        </th>
                        <th>
                            <strong>Date Modified</strong>
                        </th>
                        <th>
                            <strong>IsActive</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.ListOfUsers)
                    {
                        <tr>
                            <td>
                                @user.Id
                            </td>
                            <td>
                                @user.Name
                            </td>
                            <td>
                                @user.DateModified
                            </td>
                            <td>
                                @user.IsActive
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).on('click', '#ajaxButton', function (e) {
            var data = $('#TextBox').val()
            $.ajax({
                url: '/Home/NewUserButJquery',
                data: { 'newUsername': data },
                type: 'POST',
                cache: false,
                success: function (result) {
                    var newRow = '<tr><td>' + result.Id + '</td>';
                    newRow += '<td>' + result.Name + '</td>';
                    newRow += '<td>' + result.DateModified + '</td>';
                    newRow += '<td>' + result.IsActive + '</td></tr>';
                    $('table tbody').append(newRow);
                },
                complete: function () {
                    // dss
                },
                error: function () {
                    // dss
                }
            });
        });
    </script>
}