@model IEnumerable<TestWebApp.Data.User>

@{
    ViewBag.Title = "Index";
}

<h2>User Table</h2>

<table class="table table-dark table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>
    <tbody id="newUserTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }
    </tbody>
        
</table>
<div>
    @using (Ajax.BeginForm(
    "Index",
    "Home",
    null,
    new AjaxOptions
    {
        UpdateTargetId = "newUserTable",
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod = "POST"
    }))
    {
        <form action="#" method="post" id="form">
            <fieldset id="fields">
                <legend>Add User</legend>
                <input type="text" name="username" id="username">
                <button id="submit" class="btn btn-success">Add User</button>
            </fieldset>
        </form>
    }
</div>
